# LOGS
*.log
npm-debug.log*

# NODE MODULES AND BUILD DIRECTORIES
node_modules
dist

# EDITOR DIRECTORIES
.vscode/*
!.vscode/extensions.json
.DS_Store

# NPM
.npm

# ENVIRONMENT
.env

# LINTING
.eslintcache

# VITE & VITEST
.vite
coverage

# DEPCHECK ANALYSIS FILES
scripts/dependency-check/

# BASH SCRIPTS
.bash-scripts
