.travellerListContainer {
	.controls {
		align-items: center;
		display: flex;
		height: 2.5rem;
		justify-content: flex-start;

		/* Ensure the last control (Register link) is pushed to the right */
		& > :last-child {
			margin-left: auto;
			margin-right: 0.5rem;
		}

		.hide {
			display: none;
		}
	}

	h3 {
		text-align: center;
	}

	.spinnerContainer,
	.noTravellersContainer {
		margin: 5rem 0;
		min-height: 60px;
	}

	.noTravellersContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.travellersList {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

@media only screen and (max-width: 768px) {
	.travellerListContainer {
		display: inline-block;
	}
}
