@use '@/styles/setup/variables' as variables;
@use '@/styles/setup/mixins/mixins' as mixins;

a.navMenuButtonLink {
	.totalMessagesContainer {
		--size: 1.4rem;
		--font-size: 0.75rem;
		appearance: none;
		border: 1px solid variables.$color-pigment-indigo;
		color: inherit;
		cursor: pointer;
		height: var(--size);
		line-height: var(--size);
		padding: 0;
		position: absolute;
		top: 0rem;
		width: var(--size);

		@include mixins.fadeIn(ease, 2s, 1, forwards);

		.totalMessages {
			display: inline-block;
			font-size: var(--font-size);
			position: relative;
			text-align: center;
			width: 100%;
		}
	}

	// TODO: remove vue router specific class and update with react router class names
	&.routerLinkActive {
		border: 1px solid variables.$color-white;
		color: variables.$color-white;

		.totalMessagesContainer {
			border: 1px solid variables.$color-pigment-indigo;
		}

		&:hover {
			border: 1px solid variables.$color-lavender-magenta;
			color: variables.$color-lavender-magenta;

			.totalMessagesContainer {
				border: 1px solid variables.$color-pigment-indigo;
			}
		}
	}
}

a.navMenuButtonLink {
	&:hover {
		color: variables.$color-lavender-magenta;

		.totalMessagesContainer {
			border: 1px solid variables.$color-pigment-indigo;
		}
	}
}

@media only screen and (max-width: 768px) {
	button.navMenuButtonLink {
		background-color: variables.$color-pigment-indigo;
		border: 1px solid variables.$color-pigment-indigo;
		border-radius: 0;
		margin: 0;
		padding: 1.25rem 0;
		width: inherit;

		&:active,
		&:hover {
			background-color: variables.$color-pigment-indigo;
			border: 1px solid variables.$color-pigment-indigo;
			color: variables.$color-lavender-magenta;
		}
	}

	a.navMenuButtonLink {
		padding: 1.25rem 0;
		width: 100%;

		.totalMessagesContainer {
			--size: 2rem;
			--font-size: 1rem;
			appearance: none;
			border: none;
			border-radius: var(--size);

			@include mixins.fadeIn(ease, 2s, 1, forwards);

			.totalMessages {
				bottom: 1px;
				display: inline-block;
				font-size: var(--font-size);
				position: relative;
				text-align: center;
				width: 100%;
			}
		}

		&:active,
		&:hover {
			color: variables.$color-lavender-magenta;

			.totalMessagesContainer {
				border: none;
			}
		}

		// TODO: remove vue router specific class and update with react router class names
		&.routerLinkActive {
			background-color: variables.$color-ripe-eggplant;
			border: none;
			width: 100%;

			&:hover {
				border: none;
			}
		}
	}
}
