@use '@/styles/setup/variables' as variables;

.siteHeader {
	align-items: center;
	background-color: variables.$color-pigment-indigo;
	display: flex;
	height: 5rem;
	position: fixed;
	justify-content: center;
	width: 100%;
	z-index: 1;
}
