@use '@/styles/setup/variables' as variables;

.siteHeader {
	align-items: center;
	background-color: variables.$color-pigment-indigo;
	display: flex;
	height: 5rem;
	position: fixed;
	justify-content: space-between;
	width: 100%;
	z-index: 1;

	.siteHeaderTitleLink {
		font-size: 1.5rem;

		a {
			color: variables.$color-white;
			margin: 0;
			padding: 0.75rem 1.5rem;
			text-decoration: none;
		}
	}
}
