@use '@/styles/setup/variables' as variables;
@use '@/styles/setup/mixins/form/valid/valid' as validForm;
@use '@/styles/setup/mixins/form/invalid/invalid' as invalidForm;

h2 {
	margin-top: 0;
}
.formControl {
	margin: 0.5rem 0;

	@include validForm.input-textarea;

	@include validForm.checkbox;

	&.fieldset {
		border: none;
		padding: 0;
		margin: 0.5rem 0;

		legend {
			font-weight: bold;
			margin-bottom: 0.5rem;

			.checkboxGroup {
				margin-bottom: 0.5rem;
				label {
					margin: 0;
				}
			}
		}
	}

	&.invalid {
		p {
			@include invalidForm.error-message;
		}

		input,
		textarea {
			@include invalidForm.invalid-border-and-background;
		}

		@include invalidForm.invalid-checkbox;
	}
}

.invalidForm {
	@include invalidForm.error-message;
}
