@use '@/styles/setup/variables' as variables;
@use '@/styles/setup/mixins/helpers' as helpers;
@use '@/styles/setup/mixins/form/valid/valid' as validForm;
@use '@/styles/setup/mixins/form/invalid/invalid' as invalidForm;

.travellerRegistration {
	.travellerRegistrationTitle {
		margin-top: 0;
	}

	.visuallyHidden {
		@include helpers.visually-hidden;
	}

	.formControl {
		margin: 0.5rem 0;

		@include validForm.input-textarea;

		@include validForm.checkbox;

		&.fieldset {
			border: none;
			padding: 0;
			margin: 0.5rem 0;

			legend {
				font-weight: bold;
				margin-bottom: 0.5rem;

				.checkboxRequired {
					color: variables.$color-red;
					margin-left: 0.25rem;
				}
			}
			.checkboxGroup {
				margin-bottom: 0.5rem;
				label {
					margin: 0;
				}
			}
		}

		&.invalidForm {
			p {
				@include invalidForm.error-message;
			}

			input,
			textarea {
				@include invalidForm.invalid-border-and-background;
			}

			@include invalidForm.invalid-checkbox;
		}
	}
}
