@use '@/styles/setup/variables' as variables;

html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: variables.$color-black;
	font-size: 1rem;
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	width: 100%;
}

section {
	display: block;
	padding: 0 20px;
	position: relative;
	width: 100%;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
