@use '@/styles/setup/variables' as variables;
@use '@/styles/setup/mixins/mixins' as mixins;

@mixin label() {
	label {
		display: block;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		margin-bottom: 0.5rem;
	}
}

@mixin default-styles() {
	border: 1px solid variables.$color-silver;
	display: block;
	font: inherit;
	min-height: 2.375rem;
	padding: 0.15rem;
	width: 100%;

	&:focus {
		border-color: variables.$color-pigment-indigo;
		background-color: variables.$color-selago;
		outline: none;
	}
}

@mixin input() {
	@include label();

	input {
		@include default-styles();
	}
}

@mixin input-textarea() {
	@include label();

	input,
	textarea {
		@include default-styles();
	}

	textarea {
		height: 9.375rem;
		resize: none;
	}
}

@mixin checkbox() {
	input[type='checkbox'] {
		opacity: 0;
		position: absolute;

		// Text
		& + label {
			cursor: pointer;
			display: inline-block;
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			line-height: 1.25rem;
			padding-left: 30px;
			position: relative;
			@include mixins.user-select(none);

			// Checkbox
			&::before {
				background: transparent;
				border-radius: 0.24rem;
				box-shadow: inset 0 0 0 1px variables.$color-alto;
				content: '';
				display: block;
				height: 1.25rem;
				left: 0;
				position: absolute;
				top: 0;
				width: 1.25rem;

				transition: box-shadow 200ms ease-in-out;
			}

			// Tick
			&::after {
				content: '';
				display: block;
				height: 0.4375rem;
				left: 0.5rem;
				position: absolute;
				top: 0.3125rem;
				width: 0.1875rem;

				border-bottom: 1px solid transparent;
				border-right: 1px solid transparent;
				transform: rotate(45deg);

				transition:
					border-color 200ms ease-in-out,
					transform 200ms ease-in-out;
			}

			// Hover
			&:hover {
				color: variables.$color-mine-shaft;
			}
		}

		&:focus {
			& + label {
				color: variables.$color-mine-shaft;

				&::before {
					background-color: variables.$color-selago;
					box-shadow: inset 0 0 0 1px variables.$color-pigment-indigo;

					transition:
						background-color 200ms ease-in-out,
						box-shadow 200ms ease-in-out;
				}
			}
		}

		// Checked
		&:checked {
			& + label {
				&::before {
					background: variables.$color-ripe-plum;
					box-shadow: none;
				}
				&::after {
					border-color: variables.$color-white;
				}
			}
		}
	}
}
