@use '@/styles/setup/variables' as variables;

.container {
	position: relative;
	margin: 0 0 0 0;
	z-index: 10;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	width: 100%;
	padding: 1rem 1.5rem;
	border-radius: 4px;

	animation: fadeIn 0.3s ease-out;

	p {
		margin: 0;
		font-weight: 500;
	}

	&.success {
		background-color: variables.$color-japanese-laurel; // Greenish
		color: white;
	}

	&.error {
		background-color: variables.$color-mojo; // Reddish
		color: white;
	}
}

.closeButton {
	background: transparent;
	border: none;
	color: inherit;
	font-size: 1.5rem;
	line-height: 1;
	cursor: pointer;
	margin-right: 0;
	padding: 0;
	height: auto;
	width: auto;
	box-shadow: none;
	opacity: 0.8;

	&:hover,
	&:focus,
	&:active {
		background: none;
		font-weight: bold;
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
