@use '@/styles/setup/variables' as variables;
@use '@/styles/setup/mixins/mixins' as mixins;

.navbar {
	.navMenuItemsContainer {
		@include mixins.flex-center;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}

	.navMenuItem {
		margin: 0 0.5rem;
	}

	.navMenuItem ul {
		@include mixins.flex-center;
		margin: 0;
		padding: 0;
	}

	.navMenuItem ul li {
		margin: 0 0.5rem;
	}

	.active {
		border: 1px solid variables.$color-white;
		color: variables.$color-white;

		&:hover {
			border: 1px solid variables.$color-lavender-magenta;
			color: variables.$color-lavender-magenta;
		}
	}

	.hamburger {
		display: none;
	}

	.bar {
		background-color: variables.$color-white;
		display: block;
		height: 0.1875rem;
		margin: 0.3125rem auto;
		width: 1.5625rem;
		@include mixins.transition(background-color, 0.3s, ease-in-out);
	}
}

@media only screen and (max-width: 768px) {
	.navbar {
		.navMenuItemsContainer {
			position: absolute;
			left: -100%;
			top: 4.9rem;
			flex-direction: column;
			background-color: variables.$color-pigment-indigo;
			width: 100%;
			text-align: center;
			box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
		}

		.navMenuItemsContainer.active {
			left: 0;
		}

		.navMenuItem {
			margin: 0;
			width: 100%;
		}

		.navMenuItem ul {
			display: block;
			padding-inline-start: 0;
		}

		.navMenuItem ul li {
			margin: 0;
		}

		.hamburger {
			background-color: transparent;
			border: none;
			display: block;
			cursor: pointer;
		}

		.hamburger.active .bar:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}

		.hamburger.active .bar:nth-child(2) {
			opacity: 0;
		}

		.hamburger.active .bar:nth-child(3) {
			transform: translateY(-8px) rotate(-45deg);
		}
	}
}
