@use '@/styles/setup/mixins/mixins';
@use '@/styles/setup/mixins/form/valid/valid';
@use '@/styles/setup/mixins/form/invalid/invalid';

.userAuthentication {
	margin: 1rem;
	padding: 1rem;

	.formControl {
		margin: 0.5rem 0;

		@include valid.input;

		&.invalid {
			p {
				@include invalid.error-message;
			}

			input {
				@include invalid.invalid-border;
			}
		}
	}
}