@use '@/styles/setup/mixins/mixins' as mixins;
@use '@/styles/setup/mixins/form/valid/valid' as validForm;
@use '@/styles/setup/mixins/form/invalid/invalid' as invalidForm;

.userAuthentication {
	margin: 1rem;
	padding: 1rem;

	.formControl {
		margin: 0.5rem 0;

		@include validForm.input;

		&.invalidForm {
			p {
				@include invalidForm.error-message;
			}

			input {
				@include invalidForm.invalid-border;
			}
		}
	}
}
