@use '@/styles/setup/variables' as variables;
@use '@/styles/setup/mixins/mixins' as mixins;
@use '@/styles/setup/mixins/form/valid/valid' as validForm;
@use '@/styles/setup/mixins/form/invalid/invalid' as invalidForm;

.userAuthentication {
	margin: 1rem;
	padding: 1rem;

	.userAuthenticationTitle {
		margin-top: 0;
	}

	.formControl {
		margin: 0.5rem 0;

		@include validForm.input;

		&.invalidForm {
			p {
				@include invalidForm.error-message;
			}

			input {
				@include invalidForm.invalid-border;
			}
		}
	}

	.formActions {
		margin-top: 1.25rem;

		.formSubmitButton {
			width: 6.4375rem;
		}

		.toggleLink {
			color: variables.$color-ripe-plum;
			padding-left: 0.5rem;

			&:hover {
				color: variables.$color-ripe-eggplant;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.userAuthentication {
		.formActions {
			margin-top: 1.25rem;

			.formSubmitButton {
				width: 100%;
			}

			.toggleLink {
				padding-top: 1.25rem;
				text-align: center;
				width: 100%;
			}
		}
	}
}
